In [1]:
import pandas as pd
import matplotlib.pylab as plt
import statsmodels.api as sm
import numpy as np
import seaborn as sns
from scipy import stats

### Raw 데이터 읽기

In [2]:
# 카테고리
read_path = '../csv/categories.csv'
df_category = pd.read_csv(read_path)

df_category = df_category[['category', 'name']]
df_category['category'] = df_category['category'].astype(str)

df_category.tail()

       category   name
1219  240060020  프로그래머
1220  240070040   설문조사
1221  240080060  유아유치원
1222  240100010   매장관리
1223  240100090  기타 업종

In [3]:
# 번프 전체 데이터
read_path = '../csv/bunp_history_all.csv'
bunp_raw = pd.read_csv(read_path)

bunp_raw = bunp_raw.rename(columns={'seller_pid_price': 'total_price'})

# change type to str
for col in ['buyer_uid', 'seller_uid']:
    
    df = bunp_raw
    
    df[col] = df[col].astype('str')

bunp_raw.tail()

,created_at,category,status,buyer_uid,seller_uid,total_price
14334118,2019-06-30 08:44:07,600400003.0,1,3164423,2941858,29900
14334119,2019-06-30 13:13:12,600700003.0,1,4658579,9264834,6000
14334120,2019-06-30 16:34:13,500113011.0,4,1296566,2775958,45000
14334121,2019-06-30 13:44:19,500119001.0,1,558255,6077583,20000
14334122,2019-06-30 12:58:22,800300001.0,1,9177490,4019525,64500

In [4]:
# 2017년 이후 번프 내역
bunp_raw_17 = bunp_raw

# make 'year' column
bunp_raw_17['year'] = bunp_raw_17['created_at'].astype(str).str[:4]
bunp_raw_17['year'] = bunp_raw_17['year'].astype(int)

bunp_raw_17 = bunp_raw_17[bunp_raw_17['year'] >= 2017]

# drop 'year' column
bunp_raw_17 = bunp_raw_17.drop(['year'], axis=1)

bunp_raw_17.tail()

,created_at,category,status,buyer_uid,seller_uid,total_price
14334118,2019-06-30 08:44:07,600400003.0,1,3164423,2941858,29900
14334119,2019-06-30 13:13:12,600700003.0,1,4658579,9264834,6000
14334120,2019-06-30 16:34:13,500113011.0,4,1296566,2775958,45000
14334121,2019-06-30 13:44:19,500119001.0,1,558255,6077583,20000
14334122,2019-06-30 12:58:22,800300001.0,1,9177490,4019525,64500

In [5]:
# 거래관련 상담센터 신고 list
read_path = '../csv/help_reporter_frauder.csv'
help_raw = pd.read_csv(read_path)

help_raw['fraud_help'] = 1

help_raw = help_raw.sort_values(['reporter_uid', 'fraud_uid', 'created_at'])  # sort again, ascending

help_raw = help_raw.drop_duplicates(['reporter_uid', 'fraud_uid'])  # drop duplicated row, keep 1st row

help_raw = help_raw.rename(columns={'created_at': 'created_at_help'})

help_raw['month_at'] = help_raw['created_at_help'].astype(str).str[:7]

# change type to str
for col in ['reporter_uid', 'fraud_uid']:
    
    df = help_raw
    
    df[col] = df[col].astype('str')
    

help_raw.tail()

,discussion_id,created_at_help,reporter_uid,fraud_uid,fraud_help,month_at
197015,838830,2019-07-05 07:56:30,9317104,0,1,2019-07
196983,838715,2019-07-04 23:36:37,9317700,8767099,1,2019-07
196782,837888,2019-07-03 21:12:13,9322294,0,1,2019-07
196784,837893,2019-07-03 21:17:22,9322294,9320707,1,2019-07
196876,838255,2019-07-04 13:55:10,9323927,4623330,1,2019-07

### Merge

In [5]:
# merge
bunp_help = pd.merge(bunp_raw_17, help_raw, 
                            left_on=['buyer_uid', 'seller_uid'],
                            right_on=['reporter_uid', 'fraud_uid'],
                            how='left')


bunp_help['fraud_help'] = bunp_help['fraud_help'].fillna(0)

bunp_help['month_at'] = bunp_help['created_at'].astype(str).str[:7]
bunp_help = bunp_help.drop(['created_at', 'created_at_help', 'discussion_id', 'reporter_uid', 'fraud_uid'], axis=1)  # drop columns

# 1-depth 카테고리 붙이기
bunp_help['category_3'] = bunp_help['category'].astype(str).str[:3]

bunp_help = pd.merge(bunp_help, df_category, left_on='category_3', right_on='category', how='left')

bunp_help = bunp_help.drop(['category_x', 'category_y'], axis=1)  # drop columns

# 10만원 단위 구간
bunp_help['price_range'] = (bunp_help['total_price'] / 100000).apply(np.floor) * 100000

# 5만원 이하
bunp_help['less_50,000'] = bunp_help['total_price'].apply(lambda x: 1 if x <= 50000 else 0)

# 3만원 이하
bunp_help['less_30,000'] = bunp_help['total_price'].apply(lambda x: 1 if x <= 30000 else 0)

bunp_help.tail()

,status,buyer_uid,seller_uid,total_price,fraud_help,month_at,category_3,name,price_range,"less_50,000","less_30,000"
14121676,1,3164423,2941858,29900,0.0,2019-06,600,디지털/가전,0.0,1,1
14121677,1,4658579,9264834,6000,0.0,2019-06,600,디지털/가전,0.0,1,1
14121678,4,1296566,2775958,45000,0.0,2019-06,500,유아동/출산,0.0,1,0
14121679,1,558255,6077583,20000,0.0,2019-06,500,유아동/출산,0.0,1,1
14121680,1,9177490,4019525,64500,0.0,2019-06,800,생활/문구/가구/식품,0.0,0,0

### Aggregate

In [6]:
bunp_help_result = bunp_help.groupby(['month_at', 'category_3', 'name', 'fraud_help', 'price_range', 
                                      'less_50,000', 'less_30,000'
                            ], as_index=False).agg({'total_price': 'sum', 'buyer_uid': 'count'})

bunp_help_result = bunp_help_result.rename(columns={'total_price': 'price_sum', 'buyer_uid': 'trx_count'})

# save
save_path = '../csv/result/bunp_help_result.csv'
bunp_help_result.to_csv(save_path, index=False, mode='w', header=True)

bunp_help_result.tail()

,month_at,category_3,name,fraud_help,price_range,"less_50,000","less_30,000",price_sum,trx_count
16968,2019-06,999,기타,1.0,100000.0,0,0,765000,6
16969,2019-06,999,기타,1.0,200000.0,0,0,600000,3
16970,2019-06,999,기타,1.0,400000.0,0,0,490000,1
16971,2019-06,999,기타,1.0,500000.0,0,0,1550000,3
16972,2019-06,999,기타,1.0,800000.0,0,0,850000,1

### 상담센터에 신고된 건 중 번프에 매칭되는 비율

In [10]:
# 차집합 구하기
help_minus_bunp = pd.merge(bunp_raw_17, help_raw, 
                            left_on=['buyer_uid', 'seller_uid'],
                            right_on=['reporter_uid', 'fraud_uid'],
                            how='outer', indicator=True)

help_minus_bunp = help_minus_bunp[(help_minus_bunp['_merge']=='both') |
                                  (help_minus_bunp['_merge']=='right_only')]

help_minus_bunp = help_minus_bunp.reset_index()[['discussion_id', 
                                                 'created_at', 
                                                 'reporter_uid', 
                                                 'fraud_uid', 
                                                 'fraud_help', 
                                                 'month_at', 
                                                 'total_price',
                                                 '_merge']] 

# replace_values
replace_values = {'botn': 'merged', 'right_only': 'missed'}
help_minus_bunp = help_minus_bunp.replace({'_merge' : replace_values})

help_minus_bunp.tail()

,discussion_id,created_at,reporter_uid,fraud_uid,fraud_help,month_at,total_price,_merge
172318,838830.0,NaN,9317104,0,1.0,2019-07,NaN,missed
172319,838715.0,NaN,9317700,8767099,1.0,2019-07,NaN,missed
172320,837888.0,NaN,9322294,0,1.0,2019-07,NaN,missed
172321,837893.0,NaN,9322294,9320707,1.0,2019-07,NaN,missed
172322,838255.0,NaN,9323927,4623330,1.0,2019-07,NaN,missed

In [12]:
help_minus_bunp_result = help_minus_bunp.groupby(['month_at', '_merge'
                            ], as_index=False).agg({'discussion_id': 'count'})

help_minus_bunp_result = help_minus_bunp_result.rename(columns={'discussion_id': 'help_count'})

# save
save_path = '../csv/result/help_minus_bunp_result.csv'
help_minus_bunp_result.to_csv(save_path, index=False, mode='w', header=True)


help_minus_bunp_result.tail()

    month_at  _merge  help_count
103  2019-05  missed        2505
104  2019-06    both        2048
105  2019-06  missed        2556
106  2019-07    both         195
107  2019-07  missed         513

### 상담센터에 신고된 유저 중 영구 제재된 유저 비율

In [17]:
# 영구 제재 받은 uid list
read_path = '../csv/block_uid.csv'
fraud_uid_block = pd.read_csv(read_path)

fraud_uid_block['block_infinite'] = 1

# change type to str
fraud_uid_block['uid'] = fraud_uid_block['uid'].astype(str)

fraud_uid_block.tail()

            uid  block_infinite
143847  5834292               1
143848  5067006               1
143849  8755369               1
143850  5083812               1
143851  7961342               1

In [5]:
# 2017년 1월 ~ 2019년 6월 상담센터 신고 내역
help_raw_17 = help_raw


help_raw_17['created_at_help'] = pd.to_datetime(help_raw_17['created_at_help'])

help_raw_17['year'] = help_raw_17['created_at_help'].dt.year
help_raw_17['month'] = help_raw_17['created_at_help'].dt.month

help_raw_17 = help_raw_17[help_raw_17['year'] >= 2017]

help_raw_17 = help_raw_17[(help_raw_17['year'] != 2019) | (help_raw_17['month'] <= 6)]

help_raw_17 = help_raw_17.drop(['year', 'month'], axis=1)

help_raw_17.tail()

,discussion_id,created_at_help,reporter_uid,fraud_uid,fraud_help,month_at
195988,834704,2019-06-28 23:35:47,9281092,7344857,1,2019-06
195764,833830,2019-06-27 18:26:33,9282335,3893252,1,2019-06
196064,834966,2019-06-29 14:45:24,9283571,7165014,1,2019-06
196052,834921,2019-06-29 13:32:34,9290388,undefined,1,2019-06
196214,835513,2019-06-30 17:59:49,9300550,8733407,1,2019-06

In [20]:
help_block = pd.merge(help_raw_17, fraud_uid_block, 
                     left_on='fraud_uid', right_on='uid',
                     how='left')

help_block['block_infinite'] = help_block['block_infinite'].fillna(0)

help_block = help_block[['fraud_uid', 'block_infinite']]

help_block = help_block.sort_values(['fraud_uid', 'block_infinite'])  # sort again, ascending

help_block = help_block.drop_duplicates(['fraud_uid', 'block_infinite'])  # drop duplicated row, keep 1st row

help_block.tail()

       fraud_uid  block_infinite
34676     999450             1.0
17237     999606             1.0
48732     999920             0.0
93495     999935             0.0
600    undefined             0.0

In [22]:
help_block_result = help_block.groupby(['block_infinite'], as_index=False).agg({'fraud_uid': 'count'})

help_block_result = help_block_result.rename(columns={'fraud_uid': 'fraud_count'})

# save
save_path = '../csv/result/help_block_result.csv'
help_block_result.to_csv(save_path, index=False, mode='w', header=True)


help_block_result.tail()

   block_infinite  fraud_count
0             0.0        34606
1             1.0        22456

### 판매자의 번프 순서별 신고율

In [6]:
help_raw_order = help_raw

# 테스트 계정 제외
test_account = ['880623', '2080436', '0', 'undefined']
help_raw_order = help_raw_order[~help_raw_order.fraud_uid.isin(test_account)]

help_raw_order['created_at_help'] = pd.to_datetime(help_raw_order['created_at_help'])

help_raw_order['fraud_order'] = help_raw_order.groupby('fraud_uid')['created_at_help'].rank(ascending=True, method='dense')

help_raw_order.tail()

/Users/quicket/python-bunjang/venv/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/quicket/python-bunjang/venv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,discussion_id,created_at_help,reporter_uid,fraud_uid,fraud_help,month_at,fraud_order
196779,837879,2019-07-03 20:57:43,9313906,7604908,1,2019-07,3.0
196879,838263,2019-07-04 14:01:54,9313910,4660646,1,2019-07,1.0
196983,838715,2019-07-04 23:36:37,9317700,8767099,1,2019-07,1.0
196784,837893,2019-07-03 21:17:22,9322294,9320707,1,2019-07,2.0
196876,838255,2019-07-04 13:55:10,9323927,4623330,1,2019-07,1.0

In [7]:
bunp_raw_order = bunp_raw

# 테스트 계정 제외
test_account = ['880623', '2080436', '0', 'undefined']
bunp_raw_order = bunp_raw_order[~bunp_raw_order.seller_uid.isin(test_account)]

bunp_raw_order['created_at'] = pd.to_datetime(bunp_raw_order['created_at'])

bunp_raw_order['sell_order'] = bunp_raw_order.groupby('seller_uid')['created_at'].rank(ascending=True, method='dense')

bunp_raw_order.head()

/Users/quicket/python-bunjang/venv/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/quicket/python-bunjang/venv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,created_at,category,status,buyer_uid,seller_uid,total_price,year,sell_order
3,2016-10-10 19:07:28,700200004.0,4,4464665,4008188,1005,2016,3.0
4,2016-10-11 16:04:40,310010020.0,2,1574725,2737871,10000,2016,1.0
5,2016-10-11 16:20:36,310040010.0,3,1574725,2737871,10000,2016,2.0
6,2016-10-12 12:55:22,310030030.0,1,3798733,23159,122121212,2016,8.0
7,2016-10-12 17:30:59,600200001.0,1,1574725,4747757,35550,2016,6.0

In [8]:
# merge
bunp_help_order = pd.merge(bunp_raw_order, help_raw_order, 
                            left_on=['buyer_uid', 'seller_uid'],
                            right_on=['reporter_uid', 'fraud_uid'],
                            how='left')


bunp_help_order['fraud_help'] = bunp_help_order['fraud_help'].fillna(0)
bunp_help_order['fraud_order'] = bunp_help_order['fraud_order'].fillna(0)

bunp_help_order['month_at'] = bunp_help_order['created_at'].astype(str).str[:7]
bunp_help_order = bunp_help_order.drop(['created_at', 'created_at_help', 'discussion_id', 'reporter_uid', 'fraud_uid'], axis=1)  # drop columns

# 1-depth 카테고리 붙이기
bunp_help_order['category_3'] = bunp_help_order['category'].astype(str).str[:3]

bunp_help_order = pd.merge(bunp_help_order, df_category, left_on='category_3', right_on='category', how='left')

bunp_help_order = bunp_help_order.drop(['category_x', 'category_y'], axis=1)  # drop columns

# 10만원 단위 구간
bunp_help_order['price_range'] = (bunp_help_order['total_price'] / 100000).apply(np.floor) * 100000

# 5만원 이하
bunp_help_order['less_50,000'] = bunp_help_order['total_price'].apply(lambda x: 1 if x <= 50000 else 0)

# 3만원 이하
bunp_help_order['less_30,000'] = bunp_help_order['total_price'].apply(lambda x: 1 if x <= 30000 else 0)

# 첫 판매 및 2번째 이상 판매 구분
bunp_help_order['1st_sell'] = bunp_help_order['sell_order'].apply(lambda x: 1 if x == 1 else 0)

# 20번 초과 거래는 같은 그룹으로 매핑
bunp_help_order['sell_order_group'] = bunp_help_order['sell_order'].apply(lambda x: x if x <= 20 else 'more_20th_sell')


bunp_help_order.tail()

,status,buyer_uid,seller_uid,total_price,year,sell_order,fraud_help,month_at,fraud_order,category_3,name,price_range,"less_50,000","less_30,000",1st_sell,sell_order_group
14334019,1,3164423,2941858,29900,2019,30.0,0.0,2019-06,0.0,600,디지털/가전,0.0,1,1,0,more_20th_sell
14334020,1,4658579,9264834,6000,2019,15.0,0.0,2019-06,0.0,600,디지털/가전,0.0,1,1,0,15
14334021,4,1296566,2775958,45000,2019,39.0,0.0,2019-06,0.0,500,유아동/출산,0.0,1,0,0,more_20th_sell
14334022,1,558255,6077583,20000,2019,10.0,0.0,2019-06,0.0,500,유아동/출산,0.0,1,1,0,10
14334023,1,9177490,4019525,64500,2019,162.0,0.0,2019-06,0.0,800,생활/문구/가구/식품,0.0,0,0,0,more_20th_sell

In [9]:
# Aggregate
bunp_help_order_result = bunp_help_order.groupby(['month_at', 'category_3', 'name', 
                                                   'fraud_help', 'price_range',
                                                   'sell_order_group',
                                      'less_50,000', 'less_30,000'
                            ], as_index=False).agg({'total_price': 'sum', 'buyer_uid': 'count'})

bunp_help_order_result = bunp_help_order_result.rename(columns={'total_price': 'price_sum', 
                                                                'buyer_uid': 'trx_count'})
# 300만원 이상 거래 제외
bunp_help_order_result = bunp_help_order_result[bunp_help_order_result['price_range'] < 3000000]

# save
save_path = '../csv/result/bunp_help_result.csv'
bunp_help_order_result.to_csv(save_path, index=False, mode='w', header=True)

bunp_help_order_result.tail()

,month_at,category_3,name,fraud_help,price_range,sell_order_group,"less_50,000","less_30,000",price_sum,trx_count
108098,2019-06,999,기타,1.0,400000.0,1,0,0,490000,1
108099,2019-06,999,기타,1.0,500000.0,1,0,0,550000,1
108100,2019-06,999,기타,1.0,500000.0,6,0,0,500000,1
108101,2019-06,999,기타,1.0,500000.0,7,0,0,500000,1
108102,2019-06,999,기타,1.0,800000.0,more_20th_sell,0,0,850000,1

In [10]:
bunp_help_order_pivot = bunp_help_order_result.pivot_table(index='month_at', 
                                   columns=['sell_order_group', 'fraud_help'], 
                                   values='price_sum', 
                                   aggfunc='sum')

# save
save_path = '../csv/result/bunp_help_order_pivot.csv'
bunp_help_order_pivot.to_csv(save_path, index=True, mode='w', header=True)

bunp_help_order_pivot

sell_order_group           1.0                       2.0              \
fraud_help                 0.0         1.0           0.0         1.0
month_at
2016-09           4.000000e+04         NaN           NaN         NaN
2016-10           5.511628e+08   7756100.0  1.646074e+08   2188004.0
2016-11           1.159941e+09  18765911.0  4.230646e+08   7051500.0
2016-12           1.453151e+09  32006608.0  6.221984e+08  13989116.0
2017-01           1.633309e+09  22208700.0  7.842651e+08  13008900.0
2017-02           2.395090e+09  30514321.0  1.358209e+09  22763200.0
2017-03           1.930203e+09  26687704.0  1.114922e+09  15839500.0
2017-04           2.196520e+09  29938805.0  1.288252e+09  21901756.0
2017-05           1.801183e+09  31041810.0  1.090110e+09  19526449.0
2017-06           1.757238e+09  25025900.0  1.056609e+09  21226129.0
2017-07           2.101746e+09  32244234.0  1.402611e+09  20136815.0
2017-08           2.442193e+09  47346353.0  1.582748e+09  27903734.0
2017-09           2.556874e+09  25608010.0  1.567720e+09  19137115.0
2017-10           2.583500e+09  30489499.0  1.673100e+09  22905333.0
2017-11           3.089514e+09  30406000.0  1.878775e+09  32053000.0
2017-12           2.704945e+09  31058500.0  1.703044e+09  27254100.0
2018-01           2.415223e+09  30521118.0  1.558058e+09  23757000.0
2018-02           2.414451e+09  26519100.0  1.557845e+09  24930600.0
2018-03           2.542896e+09  40408957.0  1.628828e+09  23020012.0
2018-04           2.303647e+09  39363332.0  1.456501e+09  23517100.0
2018-05           2.115524e+09  35368704.0  1.333674e+09  21986500.0
2018-06           2.213046e+09  22534300.0  1.324296e+09  23438201.0
2018-07           2.252023e+09  35500000.0  1.415841e+09  22825000.0
2018-08           2.415995e+09  41690551.0  1.511294e+09  33418412.0
2018-09           2.433583e+09  30964200.0  1.555568e+09  22454249.0
2018-10           2.864795e+09  50265500.0  1.824567e+09  27524000.0
2018-11           2.990250e+09  49790211.0  1.864082e+09  32331500.0
2018-12           2.895536e+09  47400213.0  1.854824e+09  41135900.0
2019-01           3.165319e+09  42069100.0  1.943271e+09  32162000.0
2019-02           3.124617e+09  34718010.0  1.930571e+09  24434900.0
2019-03           2.893189e+09  38946901.0  1.757580e+09  25204200.0
2019-04           2.784008e+09  36702938.0  1.678538e+09  32188753.0
2019-05           2.510045e+09  38887500.0  1.468337e+09  25413850.0
2019-06           2.325821e+09  48583804.0  1.378757e+09  23124010.0

sell_order_group           3.0                       4.0              \
fraud_help                 0.0         1.0           0.0         1.0
month_at
2016-09                    NaN         NaN           NaN         NaN
2016-10           7.816474e+07    429500.0  5.315832e+07    110500.0
2016-11           2.313053e+08   3609000.0  1.542155e+08   1344300.0
2016-12           3.720177e+08   7075800.0  2.511644e+08   3726500.0
2017-01           4.875747e+08   6110280.0  3.462318e+08   5558300.0
2017-02           8.847438e+08  13578500.0  6.684658e+08   9823000.0
2017-03           7.671573e+08  10832600.0  5.824420e+08   5762500.0
2017-04           9.309704e+08  15804945.0  6.797347e+08   9734811.0
2017-05           7.999541e+08  12107400.0  6.407784e+08   6973217.0
2017-06           7.241085e+08  10684000.0  5.935092e+08   6926577.0
2017-07           1.026975e+09  17969204.0  7.686508e+08  13280423.0
2017-08           1.162554e+09  23518004.0  9.132256e+08  15334111.0
2017-09           1.177544e+09  12373501.0  9.372234e+08  10895599.0
2017-10           1.247531e+09  15758121.0  1.012178e+09  12679811.0
2017-11           1.418591e+09  18806311.0  1.094926e+09  13776499.0
2017-12           1.246222e+09  18350934.0  9.911978e+08  13856000.0
2018-01           1.201088e+09  23848399.0  9.485942e+08  20607400.0
2018-02           1.227919e+09  18459000.0  9.925428e+08  15323956.0
2018-03           1.210719e+09  15028844.0  1.006423e+09  14255100.0
2018-04           1.102633e+09  18010010.0  8.951076e+08  11641000.0
2018-05           9.894424e+08  17624400.0  7.996755e+08  11148500.0
2018-06           9.748915e+08  12939399.0  7.863729e+08  10246000.0
2018-07           1.034554e+09  19065101.0  8.288283e+08   8828700.0
2018-08           1.111216e+09  17465456.0  8.678310e+08  14128956.0
2018-09           1.126475e+09  17787004.0  9.364254e+08  13080004.0
2018-10           1.342237e+09  24534355.0  1.119123e+09  18595500.0
2018-11           1.413803e+09  20281744.0  1.127669e+09  16199200.0
2018-12           1.370749e+09  30157500.0  1.142700e+09  19315700.0
2019-01           1.428337e+09  27360800.0  1.171008e+09  13539100.0
2019-02           1.422257e+09  20537500.0  1.184759e+09  13744500.0
2019-03           1.321844e+09  18285000.0  1.043427e+09  20386100.0
2019-04           1.206749e+09  18681501.0  9.736417e+08  15846000.0
2019-05           1.086128e+09  18341100.0  8.913627e+08  16142300.0
2019-06           1.012680e+09  17434615.0  8.206943e+08  14735856.0

sell_order_group          5.0              ...         17.0             \
fraud_help                0.0         1.0  ...          0.0        1.0
month_at                                   ...
2016-09                   NaN         NaN  ...          NaN        NaN
2016-10            37261445.0     72900.0  ...    5255076.0        NaN
2016-11           116386638.0    883000.0  ...   29724837.0    15000.0
2016-12           180008880.0   2632800.0  ...   39374169.0   332000.0
2017-01           254827378.0   1180611.0  ...   53499969.0    12500.0
2017-02           532911629.0   7943901.0  ...  114022141.0   371356.0
2017-03           465222599.0   3803000.0  ...  116475185.0   644000.0
2017-04           543464356.0   6149000.0  ...  124695608.0   591700.0
2017-05           512417296.0   4836377.0  ...  135424522.0  1273677.0
2017-06           492048718.0   6890000.0  ...  139792483.0   893400.0
2017-07           638224855.0   8068221.0  ...  164136932.0  1375000.0
2017-08           745246112.0   8160000.0  ...  213251426.0  1454500.0
2017-09           775012392.0   7825905.0  ...  233138712.0   956990.0
2017-10           833420946.0   8030300.0  ...  266397460.0  1918000.0
2017-11           936536285.0  14337000.0  ...  291730484.0  1501234.0
2017-12           859679331.0   7792734.0  ...  282822221.0  3465500.0
2018-01           815750855.0  10460000.0  ...  266604519.0  2401000.0
2018-02           848024766.0   9911000.0  ...  283369865.0  3000700.0
2018-03           859415762.0  13175901.0  ...  300435728.0  2509000.0
2018-04           786071539.0  10392200.0  ...  281414448.0  3091001.0
2018-05           692717853.0   8738200.0  ...  242052257.0  1830000.0
2018-06           664608586.0   8741200.0  ...  220439744.0  2250200.0
2018-07           683652633.0  11474110.0  ...  241952634.0  1408500.0
2018-08           734438667.0   9609500.0  ...  251613111.0  1448000.0
2018-09           796456140.0  13566200.0  ...  292900518.0  2322000.0
2018-10           950617557.0  13057000.0  ...  350709188.0  3591400.0
2018-11           949171327.0  11682313.0  ...  348937130.0  3015000.0
2018-12           953933327.0  16760140.0  ...  349134903.0  5060600.0
2019-01           961782447.0  14450400.0  ...  374325463.0  3642500.0
2019-02           984428835.0  14453999.0  ...  367644742.0  2444000.0
2019-03           885610942.0  15594500.0  ...  319515020.0   893000.0
2019-04           842281616.0  10971500.0  ...  312866733.0  2694000.0
2019-05           747977221.0  13112200.0  ...  284897486.0  1646000.0
2019-06           696328937.0  11550000.0  ...  281877580.0  1628500.0

sell_order_group         18.0                    19.0                    20.0  \
fraud_help                0.0        1.0          0.0        1.0          0.0
month_at
2016-09                   NaN        NaN          NaN        NaN          NaN
2016-10             3542028.0        NaN    3749995.0   132000.0    3320851.0
2016-11            27082788.0        NaN   26912230.0    69500.0   25021347.0
2016-12            36350287.0    33500.0   35691351.0     1000.0   36202648.0
2017-01            49699014.0   653000.0   46304887.0   115000.0   43564372.0
2017-02           108559052.0   555256.0   96907983.0   464456.0   89055425.0
2017-03           104701416.0   801500.0   99695999.0  1804500.0   91555895.0
2017-04           121119380.0   550000.0  114921912.0   576000.0  108814922.0
2017-05           125398167.0   650000.0  109611578.0   462000.0  104998953.0
2017-06           130712952.0  1185500.0  121507933.0  1320500.0  112144574.0
2017-07           163388531.0   991000.0  144978350.0  1554100.0  142044725.0
2017-08           193613751.0  1700000.0  179063949.0   924000.0  170868539.0
2017-09           218329345.0   826100.0  201108753.0  1938000.0  192302062.0
2017-10           256351693.0  1361500.0  233062008.0  1815000.0  222618228.0
2017-11           271013778.0  2283000.0  260397605.0  2620500.0  250717967.0
2017-12           269125791.0  1808400.0  258275148.0  1581400.0  235575455.0
2018-01           258586864.0  2030000.0  255275603.0  1202500.0  240432756.0
2018-02           271699098.0  1356000.0  249379491.0  1576900.0  243141948.0
2018-03           285222822.0  2091500.0  281103099.0  1477500.0  261089287.0
2018-04           261462669.0  3036000.0  249214612.0  1817500.0  232151110.0
2018-05           227259211.0  1756000.0  216299397.0  1955000.0  206630856.0
2018-06           212868280.0  1985000.0  213113856.0  1058500.0  203174961.0
2018-07           223252200.0  1346500.0  223711970.0  2253500.0  203370954.0
2018-08           249882838.0  1389140.0  232099184.0  1796640.0  216232334.0
2018-09           281626587.0  1827900.0  275817842.0  2104000.0  250320740.0
2018-10           339472513.0  2950000.0  317570649.0  2909000.0  300641993.0
2018-11           341121460.0  1407000.0  331360138.0  2823000.0  310387340.0
2018-12           318170415.0  2284504.0  312401041.0  1522900.0  286116978.0
2019-01           342303958.0  3050800.0  311939351.0  3593000.0  283712694.0
2019-02           357587120.0  2262000.0  324726636.0  2165800.0  321215969.0
2019-03           305700683.0  1090500.0  284191868.0  2601500.0  286659411.0
2019-04           293685835.0  1651000.0  286335219.0  1325300.0  257279703.0
2019-05           260371638.0  2612000.0  239505335.0  2367000.0  239630639.0
2019-06           256454510.0  1151000.0  242669653.0  1609500.0  246483896.0

sell_order_group            more_20th_sell
fraud_help              1.0            0.0         1.0
month_at
2016-09                 NaN            NaN         NaN
2016-10                 NaN   3.324558e+07     23000.0
2016-11            320000.0   5.450499e+08   3115600.0
2016-12             89000.0   1.065776e+09   5254100.0
2017-01            296400.0   1.560051e+09   8660114.0
2017-02            612500.0   2.900763e+09   9095984.0
2017-03            601500.0   3.404103e+09  12263090.0
2017-04            472100.0   4.190530e+09  10298042.0
2017-05            168000.0   4.722588e+09  12852866.0
2017-06            510500.0   5.171472e+09  12564930.0
2017-07            847000.0   6.340991e+09  18355504.0
2017-08           1153504.0   7.533093e+09  30284656.0
2017-09           1080000.0   8.728763e+09  34308344.0
2017-10           1891500.0   9.840721e+09  44582415.0
2017-11           1655000.0   1.117909e+10  46956577.0
2017-12           2482200.0   1.092420e+10  45720963.0
2018-01            547200.0   1.131154e+10  52673241.0
2018-02           1356000.0   1.183426e+10  57187253.0
2018-03           1987000.0   1.327364e+10  54303091.0
2018-04            916234.0   1.267631e+10  58744302.0
2018-05           1373055.0   1.229082e+10  57089404.0
2018-06            949000.0   1.151605e+10  55666210.0
2018-07           1194900.0   1.224102e+10  57820019.0
2018-08            530000.0   1.306060e+10  64742281.0
2018-09           1733000.0   1.427519e+10  65680534.0
2018-10           2259500.0   1.754987e+10  86221650.0
2018-11           2663000.0   1.774455e+10  89353990.0
2018-12           1336000.0   1.785414e+10  82873928.0
2019-01           3057245.0   1.824727e+10  97801414.0
2019-02           1918500.0   1.801172e+10  75729046.0
2019-03           1876301.0   1.782895e+10  89992531.0
2019-04           2173500.0   1.756384e+10  79533580.0
2019-05           3607500.0   1.661227e+10  63784469.0
2019-06           1766000.0   1.557011e+10  53651991.0

[34 rows x 42 columns]

In [11]:
bunp_help_order_result_5 = bunp_help_order_result[bunp_help_order_result['less_50,000'] == 1 ]

bunp_help_order_pivot_5 = bunp_help_order_result_5.pivot_table(index='month_at', 
                                   columns=['sell_order_group', 'fraud_help'], 
                                   values='price_sum', 
                                   aggfunc='sum')

# save
save_path = '../csv/result/bunp_help_order_pivot_5.csv'
bunp_help_order_pivot_5.to_csv(save_path, index=True, mode='w', header=True)

bunp_help_order_pivot_5

sell_order_group          1.0                     2.0                     3.0  \
fraud_help                0.0        1.0          0.0        1.0          0.0
month_at
2016-09               40000.0        NaN          NaN        NaN          NaN
2016-10           159446874.0   754100.0   51028899.0   270004.0   27313359.0
2016-11           282775571.0  1898000.0  119946179.0   570500.0   73113788.0
2016-12           343833830.0  2345708.0  165356643.0  1023116.0  109182723.0
2017-01           473958124.0  2776300.0  260929036.0  1563900.0  166689548.0
2017-02           777529714.0  3721313.0  497880483.0  2291400.0  352109222.0
2017-03           614094160.0  2287704.0  412754803.0  1939500.0  307286632.0
2017-04           633670414.0  2766805.0  465268034.0  1993400.0  355863268.0
2017-05           490217595.0  2095811.0  369913302.0  1751338.0  298635801.0
2017-06           432472295.0  1893900.0  333539171.0  1357129.0  271523206.0
2017-07           485308212.0  2261234.0  399499725.0  1644315.0  323406515.0
2017-08           543708856.0  1602855.0  439726379.0  1575234.0  363069401.0
2017-09           534231251.0  1697000.0  426843381.0  1657115.0  352274096.0
2017-10           515088382.0  1698499.0  407732156.0  1438333.0  339950618.0
2017-11           506568901.0  1137000.0  388729793.0  1318000.0  317180025.0
2017-12           470869040.0  1341000.0  368032892.0  1298100.0  304416177.0
2018-01           505171101.0  1561118.0  393818286.0  1587000.0  328360534.0
2018-02           474804836.0  1729600.0  376192814.0  1299600.0  325051417.0
2018-03           477069632.0  1097557.0  383660335.0  1328604.0  317477896.0
2018-04           398733464.0  1924610.0  316318743.0  1148100.0  266720759.0
2018-05           358279966.0  1538704.0  286569728.0  1569500.0  242207937.0
2018-06           341299192.0  1214800.0  269741268.0  1106900.0  225529475.0
2018-07           354605803.0  1281000.0  275161310.0   840000.0  234678073.0
2018-08           375003643.0  1867551.0  297641723.0  1010611.0  246700772.0
2018-09           365126099.0  1521000.0  293541531.0  1011249.0  253917101.0
2018-10           401523879.0  1588500.0  322668092.0  1529000.0  276952378.0
2018-11           371132790.0  1496211.0  302613425.0  1714000.0  251661850.0
2018-12           380013565.0  1757113.0  296102315.0  1556900.0  247111718.0
2019-01           455524698.0  1668100.0  356419294.0  1449000.0  296118391.0
2019-02           460518060.0  1162010.0  362521207.0  1276900.0  303927948.0
2019-03           420320107.0  1505001.0  322038329.0  1249400.0  273869611.0
2019-04           366038627.0  1727438.0  288201326.0  1371754.0  238097794.0
2019-05           333418928.0  1353000.0  263082895.0  1473800.0  218960364.0
2019-06           302869954.0  1193804.0  231660963.0  1366510.0  195833459.0

sell_order_group                     4.0                     5.0             \
fraud_help              1.0          0.0        1.0          0.0        1.0
month_at
2016-09                 NaN          NaN        NaN          NaN        NaN
2016-10            199500.0   18103149.0   110500.0   12602395.0    72900.0
2016-11            331000.0   52767712.0   225300.0   40792612.0   218000.0
2016-12            565800.0   79420770.0   227000.0   62195519.0   140800.0
2017-01            898280.0  122874582.0   670300.0   95931337.0   357611.0
2017-02           1698500.0  264687132.0  1063000.0  212519254.0   843901.0
2017-03           1301600.0  238277191.0   989500.0  195172991.0   713000.0
2017-04           1514045.0  283481635.0  1306811.0  234342255.0  1398000.0
2017-05           1562400.0  246754662.0   958217.0  211638998.0   992377.0
2017-06           1038000.0  228051112.0   621577.0  198062493.0   613000.0
2017-07           1045004.0  272875867.0   962423.0  232721487.0  1003900.0
2017-08           1824004.0  304751600.0  1535111.0  265686555.0   702000.0
2017-09           1610501.0  298932245.0  1179599.0  262519028.0  1193905.0
2017-10           1310121.0  294064268.0  1080200.0  255289955.0   965800.0
2017-11           1417311.0  273301427.0   889000.0  237101389.0  1014000.0
2017-12           1029934.0  255828782.0  1111000.0  228879186.0   923734.0
2018-01           1377400.0  280814878.0  1332400.0  246222921.0  1127000.0
2018-02            958500.0  286475704.0   986500.0  250358895.0   883000.0
2018-03           1302400.0  278773135.0   801100.0  246865975.0   881901.0
2018-04           1117010.0  231966039.0  1225000.0  209845796.0  1002200.0
2018-05            862500.0  211480420.0   885500.0  188698170.0   972200.0
2018-06            696400.0  195282979.0   979000.0  174040114.0   666500.0
2018-07            849101.0  200079041.0   973700.0  179780166.0   805110.0
2018-08           1039000.0  211684697.0   832000.0  190399342.0   974500.0
2018-09            995004.0  224142695.0   590504.0  192808324.0   725200.0
2018-10            921355.0  242830022.0  1226000.0  215673595.0   853500.0
2018-11           1252744.0  221774545.0   983900.0  200341556.0   970400.0
2018-12           1098500.0  218224757.0   910700.0  197161348.0   921100.0
2019-01           1160800.0  258608537.0  1329000.0  225445925.0   732300.0
2019-02           1378000.0  264870372.0   869500.0  233491683.0   648000.0
2019-03           1357000.0  233722398.0  1170300.0  213543981.0   899000.0
2019-04           1506001.0  210711843.0  1008500.0  189122236.0   955500.0
2019-05           1290000.0  186364230.0  1085300.0  165365283.0  1027200.0
2019-06            774504.0  171335902.0   872400.0  156005919.0   593000.0

sell_order_group  ...         17.0                   18.0            \
fraud_help        ...          0.0       1.0          0.0       1.0
month_at          ...
2016-09           ...          NaN       NaN          NaN       NaN
2016-10           ...    1784699.0       NaN    1879158.0       NaN
2016-11           ...    9592077.0   15000.0    8941688.0       NaN
2016-12           ...   15164749.0    6000.0   13946562.0   33500.0
2017-01           ...   22712846.0   12500.0   20633727.0   93000.0
2017-02           ...   46224955.0  165900.0   43787604.0  126800.0
2017-03           ...   51306252.0  156000.0   47689173.0  114500.0
2017-04           ...   62528208.0  116700.0   59631780.0  179000.0
2017-05           ...   63331439.0  163677.0   58958067.0  143000.0
2017-06           ...   65674273.0  302400.0   61459252.0  180500.0
2017-07           ...   75523055.0  282000.0   72658645.0  216000.0
2017-08           ...   89756099.0  308500.0   82444611.0  297000.0
2017-09           ...   90764962.0  416990.0   84527922.0  321100.0
2017-10           ...   98724739.0  298000.0   91616010.0  186500.0
2017-11           ...   92158649.0  126234.0   89897132.0  240000.0
2017-12           ...   89096440.0  370000.0   84108558.0  178400.0
2018-01           ...  102742179.0  291000.0   95755447.0  271000.0
2018-02           ...  101761101.0  329700.0   96120035.0  221000.0
2018-03           ...  105489513.0   78000.0  100320493.0  283500.0
2018-04           ...   93381562.0  372001.0   89606414.0  402000.0
2018-05           ...   83494580.0  500000.0   81618759.0  356000.0
2018-06           ...   78768293.0  285200.0   75011712.0  255000.0
2018-07           ...   78561683.0  225000.0   75351701.0  181500.0
2018-08           ...   86214501.0  250000.0   83149713.0  254000.0
2018-09           ...   87150454.0  272000.0   84086492.0  222900.0
2018-10           ...   97332106.0  452400.0   91444963.0  272000.0
2018-11           ...   88401498.0  296000.0   84670432.0  147000.0
2018-12           ...   87120881.0  397600.0   83460548.0  309504.0
2019-01           ...  101504044.0  174500.0   96844121.0  257800.0
2019-02           ...  107871898.0  367000.0   99893908.0  247000.0
2019-03           ...   92538160.0  228000.0   92246713.0  301500.0
2019-04           ...   86741713.0  542000.0   83382062.0  490000.0
2019-05           ...   79871225.0  363000.0   75475878.0  180000.0
2019-06           ...   73240984.0  337500.0   73238718.0  332000.0

sell_order_group        19.0                  20.0           more_20th_sell  \
fraud_help               0.0       1.0         0.0       1.0            0.0
month_at
2016-09                  NaN       NaN         NaN       NaN            NaN
2016-10            1651425.0       NaN   1415451.0       NaN   2.019326e+07
2016-11            7777220.0   69500.0   7514437.0       NaN   2.259054e+08
2016-12           13433467.0    1000.0  13198648.0   29000.0   4.579969e+08
2017-01           20235577.0   30000.0  17631862.0   96400.0   7.339170e+08
2017-02           39959503.0   70000.0  37555257.0   80500.0   1.373627e+09
2017-03           46138366.0   74500.0  42313787.0  131500.0   1.609007e+09
2017-04           53426991.0  108000.0  51175616.0  142100.0   2.013779e+09
2017-05           55301284.0   93000.0  51077773.0   88000.0   2.301721e+09
2017-06           56878380.0  250500.0  55098474.0  196500.0   2.522825e+09
2017-07           68390550.0  201100.0  64396569.0  153000.0   3.001278e+09
2017-08           79842285.0  274000.0  76177453.0  129504.0   3.358406e+09
2017-09           80768884.0  111000.0  77570559.0  135000.0   3.619100e+09
2017-10           85269163.0  300000.0  79177565.0  416500.0   3.816401e+09
2017-11           85397809.0  187500.0  81663088.0  220000.0   3.874552e+09
2017-12           79194002.0  375400.0  76589186.0  289200.0   3.811444e+09
2018-01           95236352.0  452500.0  88879450.0  268200.0   4.295293e+09
2018-02           92031177.0  276900.0  86036258.0  341000.0   4.423448e+09
2018-03           97724631.0  153500.0  93114071.0  292000.0   4.955387e+09
2018-04           83263599.0   77500.0  79809160.0  244234.0   4.772748e+09
2018-05           76263339.0  335000.0  74193504.0  128055.0   4.662638e+09
2018-06           72250479.0   78000.0  69077496.0  239000.0   4.326159e+09
2018-07           71597445.0  275500.0  69227843.0   75900.0   4.399009e+09
2018-08           78184642.0  235000.0  75868933.0   75000.0   4.436774e+09
2018-09           81157116.0  145000.0  77000071.0  225000.0   4.547847e+09
2018-10           87897493.0  213500.0  84723767.0  247000.0   5.149931e+09
2018-11           81071629.0  299000.0  77142054.0  142000.0   4.758853e+09
2018-12           80184693.0  302900.0  75016756.0  295000.0   4.731768e+09
2019-01           91167559.0  247000.0  89371821.0  240345.0   5.248647e+09
2019-02           95548161.0  142900.0  90644315.0  223500.0   5.412363e+09
2019-03           88821051.0  331500.0  84628771.0  246301.0   5.505546e+09
2019-04           80620231.0  352300.0  76948072.0  401500.0   5.330339e+09
2019-05           70348066.0  167000.0  68943128.0  302500.0   5.160219e+09
2019-06           68795054.0  187500.0  66228290.0  197000.0   4.768520e+09

sell_order_group
fraud_help               1.0
month_at
2016-09                  NaN
2016-10              23000.0
2016-11             322700.0
2016-12             735100.0
2017-01            1214914.0
2017-02            2486384.0
2017-03            3214450.0
2017-04            3466642.0
2017-05            4180811.0
2017-06            5034830.0
2017-07            5048204.0
2017-08            6240901.0
2017-09            6833104.0
2017-10            7052615.0
2017-11            8246550.0
2017-12            6280882.0
2018-01            8026630.0
2018-02            6960000.0
2018-03            7912130.0
2018-04            8504527.0
2018-05            9422904.0
2018-06            7434700.0
2018-07            9562521.0
2018-08            8938581.0
2018-09            9756801.0
2018-10            9774770.0
2018-11            9903190.0
2018-12            9672972.0
2019-01           11114614.0
2019-02           10551847.0
2019-03           10835300.0
2019-04           10850780.0
2019-05           11612399.0
2019-06            8049891.0

[34 rows x 42 columns]