In [7]:
import getpass

db_user = getpass.getpass()
db_password = getpass.getpass()

 ·········
 ···············

In [8]:
from sqlalchemy import create_engine
import datetime as dt
import pandas as pd

mysql_engine = create_engine('mysql+pymysql://{}:{}@analquick.cogfzn9i6pkm.ap-northeast-2.rds.amazonaws.com:3306/quicket_log'.format(db_user, db_password))
mysql = mysql_engine.connect()

In [9]:
sql = '''
SELECT distinct channel_id
FROM tb_message
WHERE update_time >= '2019-11-01 23:20:00' AND update_time < '2019-11-01 23:30:00'
'''
stat = pd.read_sql(sql, mysql)
stat.head()

   channel_id
0   131128739
1   164513504
2   165935146
3   166159440
4   166815805

In [12]:
import datetime
INTERVAL_MIN = 30
start = datetime.datetime(2019, 11, 1, 0, 0, 0)
end = datetime.datetime(2019, 11, 2, 0, 0, 0)
interval = int((end-start).total_seconds()/60/INTERVAL_MIN)
interval

48

In [13]:
from multiprocessing import Pool
import tqdm

result = []

def fetch(dates):
    db = mysql_engine.connect()
    start = dates[0]
    end = dates[1]
    now = datetime.datetime.now()
    sql = '''
    SELECT distinct channel_id
    FROM tb_message
    WHERE update_time >= '{}' AND update_time < '{}'
    '''.format(str(start), str(end))
    df = pd.read_sql(sql, db)
    #print("End: {}, {}, {} seconds".format(start, end, (datetime.datetime.now() - now).total_seconds()))
    db.close()
    return df['channel_id'].values.tolist()

date_ranges = []
for i in range(interval):
    dt1 = start + datetime.timedelta(seconds=60*i*INTERVAL_MIN)
    dt2 = start + datetime.timedelta(seconds=60*(i+1)*INTERVAL_MIN)
    date_ranges.append([dt1, dt2])

pool = Pool(processes = 30)

values = []
for value in tqdm.tqdm(pool.imap_unordered(fetch, date_ranges), total=len(date_ranges)):
    values.append(value)

pool.close()
pool.join()

  0%|          | 0/48 [00:00<?, ?it/s]
  2%|▏         | 1/48 [00:01<01:13,  1.57s/it]
  8%|▊         | 4/48 [00:01<00:48,  1.11s/it]
 10%|█         | 5/48 [00:02<00:44,  1.04s/it]
 15%|█▍        | 7/48 [00:03<00:33,  1.24it/s]
 17%|█▋        | 8/48 [00:03<00:24,  1.65it/s]
 19%|█▉        | 9/48 [00:03<00:19,  1.95it/s]
 21%|██        | 10/48 [00:05<00:31,  1.21it/s]
 23%|██▎       | 11/48 [00:06<00:33,  1.12it/s]
 25%|██▌       | 12/48 [00:06<00:27,  1.32it/s]
 31%|███▏      | 15/48 [00:07<00:19,  1.72it/s]
 33%|███▎      | 16/48 [00:08<00:22,  1.44it/s]
 35%|███▌      | 17/48 [00:08<00:18,  1.69it/s]
 38%|███▊      | 18/48 [00:08<00:14,  2.09it/s]
 40%|███▉      | 19/48 [00:09<00:13,  2.13it/s]
 44%|████▍     | 21/48 [00:09<00:10,  2.65it/s]
 46%|████▌     | 22/48 [00:10<00:12,  2.01it/s]
 52%|█████▏    | 25/48 [00:10<00:08,  2.72it/s]
 54%|█████▍    | 26/48 [00:10<00:06,  3.26it/s]
 60%|██████    | 29/48 [00:10<00:04,  4.06it/s]
 65%|██████▍   | 31/48 [00:11<00:03,  4.66it/s]
 67%|██████▋   | 32/48 [00:11<00:05,  2.96it/s]
 69%|██████▉   | 33/48 [00:12<00:04,  3.04it/s]
 71%|███████   | 34/48 [00:12<00:06,  2.15it/s]
 73%|███████▎  | 35/48 [00:13<00:08,  1.55it/s]
 75%|███████▌  | 36/48 [00:14<00:06,  1.81it/s]
 85%|████████▌ | 41/48 [00:14<00:02,  2.34it/s]
 88%|████████▊ | 42/48 [00:15<00:02,  2.72it/s]
 90%|████████▉ | 43/48 [00:15<00:01,  3.23it/s]
 92%|█████████▏| 44/48 [00:16<00:02,  1.57it/s]
 94%|█████████▍| 45/48 [00:16<00:01,  1.97it/s]
 96%|█████████▌| 46/48 [00:17<00:01,  1.46it/s]
100%|██████████| 48/48 [00:19<00:00,  2.50it/s]

In [14]:
channel_ids = set()
for value in values:
    channel_ids.update(value)
len(channel_ids)

182446