In [2]:
import pandas as pd
import numpy as np
import json

### 번프 파일 열기

In [13]:
# 19년 4월 생성된 번프의 구매자와 상품 정보
path = '../csv/keyword_bunp.csv'

df_bunp = pd.read_csv(path)
df_bunp.tail()

                                                   params  count_bunp
543143  {"seller_pid_price": "60000", "seller_address_...           1
543144  {"seller_pid_price": "2700", "seller_address_a...           1
543145  {"seller_pid_price": 50000, "seller_address_ad...           1
543146  {"seller_pid_price": "60000", "seller_address_...           1
543147  {"seller_pid_price": "8000", "seller_address_a...           1

In [14]:

def json_parsing_buyer(row):
    
    try:

        dic = json.loads(row)

        buyer_uid = dic['buyer_uid']

        return buyer_uid

    except:
        print('buyer_uid, this row is error')


def json_parsing_pid(row):
    
    try:

        dic = json.loads(row)

        buyer_uid = dic['seller_pid']

        return buyer_uid

    except:
        print('seller_pid, this row is error')

        
df_bunp['buyer_uid'] = df_bunp['params'].apply(json_parsing_buyer)
df_bunp['seller_pid'] = df_bunp['params'].apply(json_parsing_pid)

df_bunp = df_bunp.drop('params', axis=1) # delete json

df_bunp.to_csv('../csv/tmp/df_bunp_1.csv', index=False, mode='w', header=True) #save

df_bunp.tail()

buyer_uid, this row is error
seller_pid, this row is error

        count_bunp buyer_uid seller_pid
543143           1   5497136  100024842
543144           1   8759763   98386441
543145           1   8533034   39038352
543146           1   8829307  100715056
543147           1   3119308  100619478

### 클릭 파일 열기

In [ ]:
# 19년 4월 클릭된 상품과 유입된 키워드

path = '../csv/keyword_click.csv'

df_click = pd.read_csv(path)
df_click = df_click[df_click.viewer_uid > 0] # 비회원 제거

df_click['category_left3'] = df_click['category'].astype(str).str[:3]

df_click_agg.to_csv('../csv/tmp/df_click.csv', index=False, mode='w', header=True) # save

df_click.tail()

In [ ]:

df_click_agg = df_click.groupby(['viewer_uid', 'viewer_device', 'keyword', 'category_3']).agg({'count_click': 'sum'})

df_click_agg.tail().reset_index()

df_click_agg.to_csv('../csv/tmp/df_click_agg_1.csv', index=False, mode='w', header=True) # save

df_click_agg.tail()