In [1]:
import pandas as pd
import json
from scipy import stats
import numpy as np

## 등록 상품

### 제한 전

# pid_uid_191013_191116.csv 산출 쿼리

select date_trunc('day', p.create_date) as register_date, p.pid, p.uid, p.device, u.bizlicense
from product_info_for_stats p
join user_for_stats u
on p.uid = u.uid
where p.create_date between '2019-10-13 00:00:00' and '2019-11-16 23:59:59'

In [2]:
read_path = '../csv/pid_uid_191013_191116.csv'
before_product = pd.read_csv(read_path)

before_product

        register_date        pid       uid device  bizlicense
0          2019-10-22  110387799       215      a           0
1          2019-10-17  110126623       215      a           0
2          2019-11-07  111330688       471      i           0
3          2019-11-01  110992357       719      a           0
4          2019-10-31  110940662       719      a           0
...               ...        ...       ...    ...         ...
2072571    2019-11-16  111925303  10276452      a           0
2072572    2019-11-16  111925222  10276452      a           0
2072573    2019-11-16  111925149  10276452      a           0
2072574    2019-11-16  111925033  10276452      a           0
2072575    2019-11-16  111925669  10276493      a           0

[2072576 rows x 5 columns]

In [16]:
before_product.groupby(['bizlicense'], as_index=False).agg({'pid' : 'count'})

   bizlicense      pid
0           0  1389581
1           1   682995

### 제한 후

# pid_uid_191117_191221.csv 산출 쿼리

select date_trunc('day', p.create_date) as register_date, p.pid, p.uid, p.device, u.bizlicense
from product_info_for_stats p
join user_for_stats u
on p.uid = u.uid
where p.create_date between '2019-11-17 00:00:00' and '2019-12-21 23:59:59'

In [3]:
read_path = '../csv/pid_uid_191117_191221.csv'
after_product = pd.read_csv(read_path)

after_product

        register_date        pid       uid device  bizlicense
0          2019-12-17  113787053       105      a           1
1          2019-12-14  113586211       105      a           1
2          2019-12-12  113464060       105      a           1
3          2019-12-08  113244083       105      a           1
4          2019-12-08  113205437       105      a           1
...               ...        ...       ...    ...         ...
2106220    2019-12-21  114027625  10483687      a           0
2106221    2019-12-21  114029200  10483855      a           0
2106222    2019-12-21  114029366  10483925      a           0
2106223    2019-12-21  114029915  10484014      i           0
2106224    2019-12-21  114030497  10484071      i           0

[2106225 rows x 5 columns]

In [17]:
after_product.groupby(['bizlicense'], as_index=False).agg({'pid' : 'count'})

   bizlicense      pid
0           0  1478260
1           1   627965

### 하루 50개 이상 등록했던 유저 리스트

In [4]:
before_day_pro = before_product[before_product['bizlicense'] == 1].groupby(['uid', 'register_date'], as_index=False).agg({'pid': 'count'})

before_pro_over = before_day_pro[before_day_pro['pid'] > 50]

before_pro_over

             uid register_date  pid
594        22318    2019-11-14   67
957        38044    2019-10-20   65
967        38044    2019-11-11   60
2000       87148    2019-10-28   51
2011       87148    2019-11-09   58
...          ...           ...  ...
120807  10178974    2019-11-15   62
120889  10192107    2019-11-04   75
121187  10241358    2019-11-16   55
121213  10243989    2019-11-14   87
121214  10243989    2019-11-15   67

[1182 rows x 3 columns]

In [5]:
before_pro_over_uid = before_pro_over.groupby(['uid'], as_index=False).agg({'pid': 'count'})

before_pro_over_uid.drop(['pid'], axis=1, inplace=True)

before_pro_over_uid

          uid
0       22318
1       38044
2       87148
3      112778
4      118553
..        ...
334  10176725
335  10178974
336  10192107
337  10241358
338  10243989

[339 rows x 1 columns]

### 제한 전 하루 50개 이상 등록했던 유저들의 등록 상품

In [6]:
before_pro_over_product = pd.merge(before_product, before_pro_over_uid, on='uid')

before_pro_over_product

       register_date        pid       uid device  bizlicense
0         2019-11-14  111786528     22318      w           1
1         2019-11-14  111786453     22318      w           1
2         2019-11-14  111786452     22318      w           1
3         2019-11-14  111786451     22318      w           1
4         2019-11-14  111786366     22318      w           1
...              ...        ...       ...    ...         ...
203229    2019-11-13  111680504  10241358      w           1
203230    2019-11-13  111680391  10241358      w           1
203231    2019-11-13  111680136  10241358      w           1
203232    2019-11-13  111680071  10241358      w           1
203233    2019-11-13  111683703  10241358      w           1

[203234 rows x 5 columns]

In [7]:
before_pro_over_product_agg = before_pro_over_product.groupby(['register_date', 'uid'], as_index=False).agg({'pid': 'count'})

# save
save_path = '../csv/result/before_pro_over_product_agg.csv'
before_pro_over_product_agg.to_csv(save_path, index=False, mode='w', header=True)

before_pro_over_product_agg

     register_date       uid  pid
0       2019-10-13     87148   46
1       2019-10-13    112778   74
2       2019-10-13    167253   20
3       2019-10-13    236567    3
4       2019-10-13    335420   50
...            ...       ...  ...
5805    2019-11-16  10018518   40
5806    2019-11-16  10122508   46
5807    2019-11-16  10178974   17
5808    2019-11-16  10241358   55
5809    2019-11-16  10243989   15

[5810 rows x 3 columns]

### 제한 후 하루 50개 이상 등록했던 유저들의 등록 상품

In [8]:
after_pro_over_product = pd.merge(after_product, before_pro_over_uid, on='uid')

after_pro_over_product

       register_date        pid       uid device  bizlicense
0         2019-12-20  113966338     22318      w           1
1         2019-12-20  113966281     22318      w           1
2         2019-12-20  113966190     22318      w           1
3         2019-12-20  113966088     22318      w           1
4         2019-12-20  113966044     22318      w           1
...              ...        ...       ...    ...         ...
129304    2019-11-17  111929539  10243989      w           1
129305    2019-11-17  111928175  10243989      w           1
129306    2019-11-17  111927871  10243989      w           1
129307    2019-11-17  111927431  10243989      w           1
129308    2019-11-17  111926233  10243989      w           1

[129309 rows x 5 columns]

In [9]:
after_pro_over_product_agg = after_pro_over_product.groupby(['register_date', 'uid'], as_index=False).agg({'pid': 'count'})

# save
save_path = '../csv/result/after_pro_over_product_agg.csv'
after_pro_over_product_agg.to_csv(save_path, index=False, mode='w', header=True)

after_pro_over_product_agg

     register_date       uid  pid
0       2019-11-17     38044   40
1       2019-11-17    112778   50
2       2019-11-17    186642   49
3       2019-11-17    236567    2
4       2019-11-17    377896   31
...            ...       ...  ...
5152    2019-12-21   9685548   32
5153    2019-12-21   9938348   50
5154    2019-12-21  10122508   11
5155    2019-12-21  10167770    4
5156    2019-12-21  10176725    9

[5157 rows x 3 columns]

# 등록된 상품의 상품명

### 제한 전

# pid_name_191013_191116.csv 산출 쿼리

select id as pid, name
from product_info
where create_date between '2019-10-13 00:00:00' and '2019-11-16 23:59:59'

In [10]:
read_path = '../csv/pid_name_191013_191116.csv'
before_pid_name = pd.read_csv(read_path)

before_pid_name

               pid                             name
0        109865536                   에이딕트 고체향수 3번사용
1        109865600                  뉴발란스 벨로아 벨루아 벨벳
2        109868544                      가내스라 홀가먼트니트
3        109870400                        패딩머플러 목도리
4        109871680                      스톤아일랜드 카고바지
...            ...                              ...
2072569  111925439                     모토로라 버브버즈200
2072570  111925503    [s]18fw 무스너클 발리스틱 블랙 백화점판 새상품
2072571  111925567                           Y-3 카모
2072572  111925631             ?롱패딩 7-8만원 팝니다 새거에요?
2072573  111925695  에트레세실[ETRE CECILE]_VOILA 티셔츠 XS

[2072574 rows x 2 columns]

In [11]:
before_pid_name_over = pd.merge(before_pid_name, before_pro_over_product[['pid', 'uid']], on='pid')

before_pid_name_over

              pid                              name      uid
0       109853504        MRR 19인치 st  검메탈 휠 판매 30만원  5623415
1       109854912         PRADA 프라다 스니커즈 MG58 38-44  9533857
2       109855552                         ✔EXR 크로스백   112778
3       109855808                   도매가✔구찌 디오니소스 미니  3310884
4       109855872           ❤️수입고퀄 무료배송❤️테그호이어 공유시계  1807834
...           ...                               ...      ...
203229  111921215                ☆미러급☆ 구찌 오피디아 클러치백  7019680
203230  111921919              ◇미러급◇ 스톤아일랜드 파이핑 숏패딩  7019680
203231  111922367                             샤넬 가방  2875050
203232  111923711  [99% 동일] 루이비통 흑다미에 DISTRICT 크로스백   377896
203233  111924607          아디다스 마이쉘터 자켓 블랙 국내정품 새상품  8192743

[203234 rows x 3 columns]

In [24]:
abuse_before = before_pid_name_over.groupby(['uid', 'name'], as_index=False).agg({'pid': 'count'})

abuse_before['pid'].sum()

203234

In [25]:
abuse_before_pid = abuse_before[abuse_before['pid'] > 1]

abuse_before_pid['pid'].sum()

95848

### 제한 후

# pid_name_191117_191221.csv

select id as pid, name
from product_info
where create_date between '2019-11-17 00:00:00' and '2019-12-21 23:59:59'

In [13]:
read_path = '../csv/pid_name_191117_191221.csv'
after_pid_name = pd.read_csv(read_path)

after_pid_name

               pid                              name
0        111927232                    홀리카홀리카 하드커버 쿠션
1        111928384                           메이플메소판매
2        111928704  95 66~77 빈폴 얇은 퀄팅 누빔 롱트렌치코트 롱사파리
3        111934528                              줌바웨어
4        111937984                            롬프보드복S
...            ...                               ...
2106213  114032255       유니버셜랭귀지 타탄체크 울 자켓 (까노니코 원단)
2106214  114032319                          깃털 벨벳원피스
2106215  114032383            정품) 크롬하츠 포에버링 10호 팝니다.
2106216  114032447      ■퍼펙트버전■ 셀린느 울 체크 클래식 블레이져 자켓
2106217  114032511              닌텐도 스위치 스플래툰2 영문판팝니다

[2106218 rows x 2 columns]

In [14]:
after_pid_name_over = pd.merge(after_pid_name, after_pro_over_product[['pid', 'uid']], on='pid')

after_pid_name_over

              pid                             name      uid
0       111925760             ✔️번장최저가 :: 무스너x 경량패딩  3858351
1       111926144                 ✔차량용 소화기 (1.5kg)   112778
2       111927040                           위블로 시계   426167
3       111927616                           프라다 코트   426167
4       111928768                      LOn don 롱코트  4399194
...           ...                              ...      ...
129304  114022015             cgv 영화관람권 (온라인 등록전용)   236567
129305  114024063  19/20 시즌 오크밸리 스키장 오전/심야 리프트 이용권   236567
129306  114028287                    디스퀘어드 메이플 청바지  1251592
129307  114031807                             랑울니트  3904142
129308  114032447     ■퍼펙트버전■ 셀린느 울 체크 클래식 블레이져 자켓  2614802

[129309 rows x 3 columns]

In [26]:
abuse_after = after_pid_name_over.groupby(['uid', 'name'], as_index=False).agg({'pid': 'count'})

abuse_after['pid'].sum()

129309

In [23]:
abuse_after_pid = abuse_after[abuse_after['pid'] > 1]

abuse_after_pid['pid'].sum()

54421

# 광고

# ad_point_191013_191221.csv

select date_format(updated,'%Y-%m-%d') as date, uid, sum(price) as price
from sponsor_transaction_log
where status = 0 and updated between '2019-10-13 00:00:00' and '2019-12-21 23:59:59'
group by 1, 2

In [28]:
read_path = '../csv/ad_point_191013_191221.csv'
ad = pd.read_csv(read_path)

ad

             date       uid     price
0      2019-10-13     20551  201000.0
1      2019-10-13     26178   29000.0
2      2019-10-13     87148   21000.0
3      2019-10-13    114088   70000.0
4      2019-10-13    321757   10000.0
...           ...       ...       ...
20254  2019-12-21  10175315    6000.0
20255  2019-12-21  10241358   11000.0
20256  2019-12-21  10293857  165000.0
20257  2019-12-21  10303766   33000.0
20258  2019-12-21  10390703   19551.0

[20259 rows x 3 columns]

In [31]:
ad_date = ad.groupby(['date'], as_index=False).agg({'price': 'sum'})

# save
save_path = '../csv/result/ad_date.csv'
ad_date.to_csv(save_path, index=False, mode='w', header=True)

ad_date

          date       price
0   2019-10-13  17594566.0
1   2019-10-14  25345557.0
2   2019-10-15  48304554.0
3   2019-10-16  30674560.0
4   2019-10-17  25842963.0
..         ...         ...
65  2019-12-17  26843051.0
66  2019-12-18  28970624.0
67  2019-12-19  20599105.0
68  2019-12-20  20389556.0
69  2019-12-21  11820755.0

[70 rows x 2 columns]

In [32]:
ad_over_uid = pd.merge(ad, before_pro_over_uid, on='uid')

# save
save_path = '../csv/result/ad_over_uid.csv'
ad_over_uid.to_csv(save_path, index=False, mode='w', header=True)

ad_over_uid

            date      uid     price
0     2019-10-13    87148   21000.0
1     2019-10-14    87148  110000.0
2     2019-10-21    87148   20000.0
3     2019-10-22    87148   20000.0
4     2019-10-26    87148   21000.0
...          ...      ...       ...
1374  2019-12-15  1813414    2800.0
1375  2019-12-19  1813414    5600.0
1376  2019-12-10  2178856   33000.0
1377  2019-12-11  3526851  205000.0
1378  2019-12-17  6877492   33000.0

[1379 rows x 3 columns]