In [4]:
import pandas as pd
import numpy as np

In [5]:
path = 'csv/search_again_1904.csv'

df = pd.read_csv(path)
df.tail()

              uid device   keyword  count_search
14358331  6554186      w    엘리먼트87             2
14358332  8438980      w       아미밤             4
14358333  7265160      w     이지드로잉             2
14358334  2769994      a     가슴커지는             2
14358335  7736829      i  여자 트레이닝복             2

In [6]:
device_agg = df.groupby(['device']).agg({'count_search': 'sum', 'keyword': 'count'})

device_agg

        count_search  keyword
device
a           30206939  7370602
f              21804     3858
i           12891796  3682346
w           14907118  3301195

In [8]:
again_df = df[df.count_search > 1]

again_device_agg = again_df.groupby(['device']).agg({'count_search': 'sum', 'keyword': 'count'})

again_device_agg

        count_search  keyword
device
a           28801250  5964930
f              21509     3563
i           12195189  2985746
w           14346188  2740271