In [2]:
import pandas as pd
import numpy as np
import json

In [28]:
# 제품 카테고리

path = '../csv/categories.csv'

df_categories = pd.read_csv(path)

df_categories['category_left_3'] = df_categories['category'].astype(str).str[:3]

df_categories.tail()

,category,name,short_name,parent_id,num_child,modified_at,img_url,img_url_w,cate1,cate2,...,path,depth,estimated_count,ad_enable,is_enable,checkout_enable,is_goods,category_name_indexable,sex,category_left_3
1219,240100030,서비스/미디어,NaN,240100.0,0.0,2018-02-26 00:00:00,NaN,NaN,NaN,NaN,...,/240/100/030,3,1,0,1,0,1,0,NaN,240
1220,240100050,생산/기능직,NaN,240100.0,0.0,2018-02-26 00:00:00,NaN,NaN,NaN,NaN,...,/240/100/050,3,1,0,1,0,1,0,NaN,240
1221,240100070,상담영업,NaN,240100.0,0.0,2018-02-26 00:00:00,NaN,NaN,NaN,NaN,...,/240/100/070,3,1,0,1,0,1,0,NaN,240
1222,240100090,기타 업종,NaN,240100.0,0.0,2018-02-26 00:00:00,NaN,NaN,NaN,NaN,...,/240/100/090,3,13,0,1,0,1,0,NaN,240
1223,240100110,단기알바,NaN,240100.0,0.0,2018-02-26 00:00:00,NaN,NaN,NaN,NaN,...,/240/100/110,3,9,0,1,0,1,0,NaN,240

In [17]:
# 19년 4월 검색한 키워드의 상세 검색 활용 여부
path = '../csv/keyword_search.csv'

df_search = pd.read_csv(path)
df_search = df_search[df_search.viewer_uid > 0] # 비회원 제거

df_search.tail()

,viewer_uid,viewer_device,keyword,count_location,count_category,count_price_min,count_price_max,count_used,count_bizseller,count_free_shipping,count_exchg,count_none,count_detail
1613913,6353524,a,디스커버리 바람막이,0,0,0,0,0,0,0,0,1,0
1613915,6427712,a,인물그림,0,0,0,0,0,0,0,0,1,0
1613916,5952129,i,뉴발란스 트레이닝복,0,0,0,0,0,0,0,0,1,0
1613917,1332665,i,아이팟터치6세대,0,0,0,0,0,0,0,0,1,0
1613918,6249800,i,나이키 모나크,0,0,0,0,0,0,0,0,1,0

In [ ]:
# df_search_agg = df_search.groupby(['device']).agg({'count_search': 'sum', 'keyword': 'count'})

### 클릭 파일 열기

In [ ]:
# 19년 4월 클릭된 상품과 유입된 키워드

path = '../csv/keyword_click.csv'

df_click = pd.read_csv(path)
df_click = df_click[df_click.viewer_uid > 0] # 비회원 제거

df_click['category_left3'] = df_click['category'].astype(str).str[:3]

df_click_agg.to_csv('../csv/tmp/df_click.csv', index=False, mode='w', header=True) # save

df_click.tail()

In [39]:


df_click_agg = df_click.groupby(['viewer_uid', 'viewer_device', 'keyword', 'category_3']).agg({'count_click': 'sum'})

df_click_agg.to_csv('../csv/tmp/df_click_agg_1.csv', index=False, mode='w', header=True) # save

df_click_agg.tail()

                                             count_click
viewer_uid viewer_device keyword category_3
8949058    a             지구젤리    999                   1
8949063    a             블리치 55  900                   1
8949064    a             아이폰8 깨짐 600                   7
                         아이폰8 뒷면 600                   2
8949074    a             네비게이션   750                   1

In [52]:
df_click_agg.tail().reset_index()

   viewer_uid viewer_device  keyword category_3  count_click
0     8949058             a     지구젤리        999            1
1     8949063             a   블리치 55        900            1
2     8949064             a  아이폰8 깨짐        600            7
3     8949064             a  아이폰8 뒷면        600            2
4     8949074             a    네비게이션        750            1

## 제품 검색에서 클릭으로의 전환

In [49]:
# Merge search with click 
df_search_click = pd.merge(df_search, df_click_agg, how='left', on=['viewer_uid', 'viewer_device','keyword'])

df_search_click.to_csv('../csv/tmp/df_search_click_1.csv', index=False, mode='w', header=True) # save

df_search_click.tail()

,viewer_uid,viewer_device,keyword,count_location,count_category,count_price_min,count_price_max,count_used,count_bizseller,count_free_shipping,count_exchg,count_none,count_detail,count_click
1391001,6353524,a,디스커버리 바람막이,0,0,0,0,0,0,0,0,1,0,2.0
1391002,6427712,a,인물그림,0,0,0,0,0,0,0,0,1,0,7.0
1391003,5952129,i,뉴발란스 트레이닝복,0,0,0,0,0,0,0,0,1,0,NaN
1391004,1332665,i,아이팟터치6세대,0,0,0,0,0,0,0,0,1,0,8.0
1391005,6249800,i,나이키 모나크,0,0,0,0,0,0,0,0,1,0,NaN

### 번프 파일 열기

In [8]:
# 19년 4월 생성된 번프의 구매자와 상품 정보
path = '../csv/keyword_bunp.csv'

df_bunp = pd.read_csv(path)
df_bunp.tail()

                                                   params  count_bunp
543143  {"seller_pid_price": "60000", "seller_address_...           1
543144  {"seller_pid_price": "2700", "seller_address_a...           1
543145  {"seller_pid_price": 50000, "seller_address_ad...           1
543146  {"seller_pid_price": "60000", "seller_address_...           1
543147  {"seller_pid_price": "8000", "seller_address_a...           1

In [9]:
import json

def json_parsing_buyer(row):
    try:

        dic = json.loads(row)

        buyer_uid = dic['buyer_uid']

        return buyer_uid

    except:
        print('buyer_uid, this row is error')


df_bunp['buyer_uid'] = df_bunp['params'].apply(json_parsing_buyer)


def json_parsing_pid(row):
    try:

        dic = json.loads(row)

        buyer_uid = dic['seller_pid']

        return buyer_uid

    except:
        print('seller_pid, this row is error')


df_bunp['seller_pid'] = df_bunp['params'].apply(json_parsing_pid)

df_bunp = df_bunp[df_bunp.buyer_uid > 0] # 비회원 제거

df_bunp.to_csv('../csv/tmp/df_bunp_1.csv', index=False, mode='w', header=True) #save

df_bunp.tail()

buyer_uid, this row is error
seller_pid, this row is error

,params,count_bunp,buyer_uid,seller_pid
543143,"{""seller_pid_price"": ""60000"", ""seller_address_...",1,5497136,100024842
543144,"{""seller_pid_price"": ""2700"", ""seller_address_a...",1,8759763,98386441
543145,"{""seller_pid_price"": 50000, ""seller_address_ad...",1,8533034,39038352
543146,"{""seller_pid_price"": ""60000"", ""seller_address_...",1,8829307,100715056
543147,"{""seller_pid_price"": ""8000"", ""seller_address_a...",1,3119308,100619478

In [53]:
import json

print(type(df_bunp['params'][0]))

print(type(json.loads(df_bunp['params'][0])))

a = json.loads(df_bunp['params'][0])

print(a['buyer_uid'])

<class 'str'>
<class 'dict'>
5077284

In [14]:
path = '../csv/keyword_category.csv'

df_category = pd.read_csv(path).drop('_num', axis=1)
df_category = df_category.rename(columns={'_count': 'count_click'})

df_category.tail()

               keyword  category     name  count_click
1891622  🖤아디다스 맨투맨 세트🖤       310     여성의류            1
1891623       😃👌 조립식주택       999       기타            2
1891624              😇       750  차량/오토바이            4
1891625         😈급처급처😇       100     커뮤니티            8
1891626              😘       400     패션잡화            1

In [9]:
path = '../csv/keyword_search.csv'

df_search = pd.read_csv(path)
df_search.tail()

,keyword,count_location,count_category,count_price_min,count_price_max,count_used,count_bizseller,count_free_shipping,count_exchg,count_none
5035052,스톤아일랜드 코발트맨투맨,0,0,0,0,0,0,0,0,1
5035053,에르 키홀더,0,0,0,0,0,0,0,0,2
5035054,바이크완료,0,0,0,0,0,0,0,0,2
5035055,픽시크랭ㅋ.,0,0,0,0,0,0,0,0,1
5035056,베맥트화,0,0,0,0,0,0,0,0,3

In [17]:
df_search['count_option'] = df_search[['count_location', 'count_category', 'count_price_min', 'count_price_max', 'count_used', 'count_bizseller', 'count_free_shipping', 'count_exchg']].sum(axis=1)
df_search['total_search'] = df_search['count_none'] + df_search['count_option']

df_search.tail()

,keyword,count_location,count_category,count_price_min,count_price_max,count_used,count_bizseller,count_free_shipping,count_exchg,count_none,count_option,total_search
5035052,스톤아일랜드 코발트맨투맨,0,0,0,0,0,0,0,0,1,0,1
5035053,에르 키홀더,0,0,0,0,0,0,0,0,2,0,2
5035054,바이크완료,0,0,0,0,0,0,0,0,2,0,2
5035055,픽시크랭ㅋ.,0,0,0,0,0,0,0,0,1,0,1
5035056,베맥트화,0,0,0,0,0,0,0,0,3,0,3

In [44]:
# Merge
df_search_category = pd.merge(df_search, df_category, how='left', on=['keyword'])

df_search_category = df_search_category[df_search_category['count_click'].notnull()]
# df_search_category['count_click'] = df_search_category['count_click'].astype(int)

df_search_category.tail()

,keyword,count_location,count_category,count_price_min,count_price_max,count_used,count_bizseller,count_free_shipping,count_exchg,count_none,count_option,total_search,category,name,count_click
5035029,데일리먼데이.,0,0,0,0,0,0,0,0,3,0,3,400.0,패션잡화,1.0
5035034,정장소매스커트,0,0,0,0,0,0,0,0,2,0,2,310.0,여성의류,5.0
5035036,3.1A,0,0,0,0,0,0,0,0,1,0,1,750.0,차량/오토바이,2.0
5035038,나그랑긴팔,0,0,0,0,0,0,0,0,5,0,5,320.0,남성의류,6.0
5035046,다블퍼지,0,0,0,0,0,0,0,0,2,0,2,320.0,남성의류,1.0

In [72]:
df_search_category_agg = df_search_category.groupby(['name']).agg('sum')

# df_search_category_agg = df_search_category.groupby(['name']).agg({'count_none': 'sum', 
#                                                                    'count_option': 'sum', 
#                                                                    'total_search': 'sum', 
#                                                                    'count_click': 'sum'})

save_path = '../csv/df_search_category_agg.csv'

df_search_category_agg.to_csv(save_path)

df_search_category_agg

,count_location,count_category,count_price_min,count_price_max,count_used,count_bizseller,count_free_shipping,count_exchg,count_none,count_option,total_search,category,count_click
name,,,,,,,,,,,,,
(구)패션의류,3,14,0,0,0,0,0,0,105,17,122,2700.0,12.0
구인구직,7243,402,6,7,6,3,0,0,11337,7667,19004,146400.0,13851.0
기타,569231,29834,1917,3675,440,495,184,144,926976,605920,1532896,40024935.0,536638.0
남성의류,7011846,573831,147286,254793,94023,85275,5533,24028,8226464,8196615,16423079,81173120.0,12375229.0
도서/티켓/취미/애완,2555279,216432,14330,23876,2709,2904,1654,1250,4166615,2818434,6985049,124332300.0,5074105.0
디지털/가전,7479898,473462,171834,270662,34428,28084,7819,8989,9475457,8475176,17950633,143440800.0,14613614.0
번개나눔,36470,1366,3,40,26,48,21,3,42593,37977,80570,329200.0,39330.0
뷰티/미용,1042084,58965,5384,16611,11394,2101,3645,2876,1613338,1143060,2756398,39517850.0,2607255.0
생활/문구/가구/식품,1620099,97504,6707,15834,4563,2325,1766,1555,2269815,1750353,4020168,70022400.0,3131382.0
스타굿즈,1424885,93582,5621,9317,1041,462,2015,736,2553204,1537659,4090863,73811010.0,4144627.0
스포츠/레저,2971112,142265,50726,95919,14335,7370,2165,2724,3332574,3286616,6619190,75328400.0,5839325.0
여성의류,3227763,464451,58120,142941,37511,25594,7320,11126,4147157,3974826,8121983,61652180.0,7126749.0
원룸/함께살아요,7569,630,7,10,0,0,0,3,12463,8219,20682,221720.0,12589.0
유아동/출산,622744,37674,1394,3348,6258,2067,553,131,713022,674169,1387191,26087000.0,1241639.0
재능,19973,2707,18,46,2,6,0,0,47295,22752,70047,468300.0,37272.0
지역 서비스,3361,141,0,0,1,0,0,0,6471,3503,9974,189640.0,3477.0
차량/오토바이,2115433,204451,35990,53290,4362,24533,340,402,2603424,2438801,5042225,67953750.0,4412682.0
커뮤니티,5480,528,2,8,6,6,1,0,11895,6031,17926,83600.0,5765.0
패션잡화,8950161,545113,191696,315645,143410,108411,9304,15653,10443397,10279393,20722790,151915600.0,18730498.0

In [59]:
path = '../csv/test.csv'

df_test = pd.read_csv(path)

df_test.tail()

                                        search_option_json
3469561  {"location[]": "37.533273,127.070823,6km", "n"...
3469562  {"location[]": "37.405851,127.127090,10km", "n...
3469563  {"location[]": "34.931951,127.693275,6km", "n"...
3469564  {"location[]": "37.484220,127.023677,6km", "n"...
3469565  {"category_id": "310", "location[]": "37.50813...

In [60]:
print(type(df_test['search_option_json'][0]))

<class 'str'>

In [64]:
import json

def row_to_json(row):
    loads_row = json.loads(row)
    return json.dumps(loads_row)


df_test_json = df_test['search_option_json'].apply(row_to_json)
df_test_json.tail()

3469561    {"location[]": "37.533273,127.070823,6km", "n"...
3469562    {"location[]": "37.405851,127.127090,10km", "n...
3469563    {"location[]": "34.931951,127.693275,6km", "n"...
3469564    {"location[]": "37.484220,127.023677,6km", "n"...
3469565    {"category_id": "310", "location[]": "37.50813...
Name: search_option_json, dtype: object