In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df_click = pd.read_csv('../csv/tmp/df_click.csv')

df_click.tail()

,viewer_uid,viewer_device,keyword,pid,category,name,count_click,category_left3
75633034,1501637,a,쇼바이크,81412202.0,750800100.0,오토바이(125cc 이하),1,750.0
75633035,7319500,w,응원봉 악세사리,101318080.0,910200007.0,기타(걸그룹),1,910.0
75633036,4225264,a,럽셀콘 dvd,99701886.0,910100001.0,팬시,1,910.0
75633037,4948901,a,에어팟,101408327.0,600500010.0,이어폰/헤드폰,1,600.0
75633038,4263581,a,팔라스 크루넥,100401393.0,320030200.0,후드 티셔츠,1,320.0

In [2]:
df_search_user = pd.read_csv('../csv/keyword_search_user.csv')

df_search_user = df_search_user[df_search_user.viewer_uid > 0] # 비회원 제거

df_search_user.tail()

           viewer_uid device   age  gender
145242204     3021249    NaN  29.0     1.0
145242205     4376302      a  16.0     1.0
145242206          -1      f   NaN     NaN
145242207          -1      f   NaN     NaN
145242208          -1      f   NaN     NaN