In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
## import name-entity file
import_path = '../csv/name_entity_digital.csv'
name_entity_digital = pd.read_csv(import_path)
name_entity_digital

            name entity
0         휴대용게임기   카테고리
1          게임타이틀   카테고리
2            SKT   카테고리
3           자급제폰   카테고리
4             KT   카테고리
...          ...    ...
7096  아이폰 xs max    시리즈
7097          부산     지역
7098     게이밍 마우스   카테고리
7099         게이밍   카테고리
7100      아이폰 12    시리즈

[7101 rows x 2 columns]